<script type="text/x-template" id="tile-template">
	<div class="col-1 tile" 
			v-bind:class="model.type">
		<h6><small>{{model.reward}}</small></h6>
	</div>
</script>

<script type="text/x-template" id="tiles-template">
	<div class="row w-100">
		<tile 
				v-for="col in rows"
				v-bind:model="col"
				:model="col">
		</tile>
	</div>
</script>

<script type="text/x-template" id="agent-template">
	<div class="agent" v-bind:style="agent.getStyle()">
	</div>
</script>

<html>	
	<head>
		<title>Learning Game</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link href="assets/style.css" rel="stylesheet">
		<script
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
		crossorigin="anonymous"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha256-gL1ibrbVcRIHKlCO5OXOPC/lZz/gpdApgQAzskqqXp8=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<h1>Hello</h1>
		<div class="container"  id="board">
			<div class="row table">
				<agent v-bind:agent="agentData"></agent>
				<tiles
						v-for="rows in boardData.tiles"
						v-bind:rows="rows">
				</tiles>
			</div>
			<div class="row mb-4">
				<div class="col-12">
					<button type="button" 
							class="btn btn-default"
							@click="moveUp">
						Move up
					</button>
					<button type="button" class="btn btn-default"
							@click="moveDown">
						Move down
					</button>
					<button type="button" class="btn btn-default"
							@click="moveLeft">
						Move left
					</button>
					<button type="button" class="btn btn-default"
							@click="moveRight">
						Move right
					</button>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col">
				  <div class="form-group">
						<label for="gamma">Gamma</label>
						<input v-model="trainerSettings.gamma" type="text" class="form-control" placeholder="Enter gamma, do it with dots you must">
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="alpha">Alpha</label>
						<input v-model="trainerSettings.alpha" type="text" class="form-control" placeholder="Enter alpha, do it with dots you must">
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="maxiterationsbeforereset">Max iterations before reset</label>
						<input v-model="trainerSettings.maxIterationsBeforeReset" type="text" class="form-control" placeholder="Enter max iterations before reset you must">
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="speed">Speed, lower is more devastating</label>
						<input v-model="trainerSettings.speed" type="text" class="form-control" placeholder="Enter speed in ms you must">
					</div>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-12">
					<button type="button" class="btn btn-default"
							@click="selectNext">
						Select Next
					</button>
					<button type="button" class="btn btn-danger"
							@click="startTrainer">
						Start the irreversible trainer of doom
					</button>
					<button type="button" class="btn btn-primary"
							@click="pauseTrainer">
						Pause the irreversible trainer of doom
					</button>
				</div>
			</div>
			<div class="row">
				<pre><code>{{trainerData.debug()}}</code></pre>
			</div>
		</div>
	</body>
	<script src="assets/js/script.js"></script>
</html>