.tile.occupied .overlay {
	opacity : 1;
	-webkit-transition: opacity 1ms;
	-moz-transition: opacity 1ms;
	transition: opacity 1ms;
}
.tile .overlay {
	opacity : 0;
	background-color:orange;
	width:100%;
	height:100%;
	-webkit-transition: opacity 5s;
	-moz-transition: opacity 5s;
	transition: opacity 5s;
}
.tile {
	height:60px;
	width:60px;
	background-color:tan;
}
.tile.start {
	background-color:royalblue;
}
.tile.cliff {
	background-color:red;
}
.tile.goal {
	background-color:green;
}

.agent {
	width:50px;
	height:50px;
	background-color:blueviolet;
	position: absolute;
	z-index:10;
}
h6 {
	position: absolute;
    top: 1;
}